<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="well">

    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row">  <%= link_to "Products Count", %i[admin products] %></th>
          <td><%= @products_count %> </td> 
        </tr>

        <tr>
          <th scope="row">  <%= link_to "Categories Count", %i[admin categories] %></th>
          <td> <%= @categories_count %></td>
        </tr>

        <tr>
          <th scope="row">Total Items in Stock</th>
          <td><%= @items_in_stock %></td>
        </tr>


       <tr>
          <th scope="row">Orders Count</th>
          <td> <%= @orders_count %></td>
        </tr>
       <tr>
          <th scope="row">Orders Value</th>
          <td> <%= humanized_money_with_symbol @orders_value %></td>
        </tr>

      </tbody>
    </table>

</section>
